crypto ikev2 proposal to-onprem-proposal
 encryption aes-cbc-256
 integrity sha1
 group 2
!
crypto ikev2 policy to-onprem-policy
 match address local 172.25.0.52
 proposal to-onprem-proposal
!
crypto ikev2 keyring to-onprem-keyring
 peer x.x.x.x <--- onprem VPN GW public IP here
  address x.x.x.x <--- onprem VPN GW public IP here
  pre-shared-key xxxxxxxxx <--- vpnPreSharedKey must be inserted here
 !
!
!
crypto ikev2 profile to-onprem-profile
 match address local 172.25.0.52
 match identity remote address x.x.x.x 255.255.255.255 <--- onprem VPN GW public IP here
 authentication remote pre-share
 authentication local pre-share
 keyring local to-onprem-keyring
 lifetime 3600
 dpd 10 5 on-demand

crypto ipsec transform-set to-onprem-TransformSet esp-gcm 256
 mode tunnel
!
!
crypto ipsec profile to-onprem-IPsecProfile
 set transform-set to-onprem-TransformSet
 set ikev2-profile to-onprem-profile
!
interface Tunnel11
 ip address 192.168.2.1 255.255.255.255
 ip tcp adjust-mss 1350
 tunnel source 172.25.0.52
 tunnel mode ipsec ipv4
 tunnel destination x.x.x.x <--- onprem VPN GW public IP here
 tunnel protection ipsec profile to-onprem-IPsecProfile

router bgp 64630
 bgp log-neighbor-changes
 neighbor 172.22.0.68 remote-as 65515
 neighbor 172.22.0.68 ebgp-multihop 255
 neighbor 172.22.0.68 update-source GigabitEthernet2
 neighbor 172.22.0.69 remote-as 65515
 neighbor 172.22.0.69 ebgp-multihop 255
 neighbor 172.22.0.69 update-source GigabitEthernet2
 neighbor 172.23.0.14 remote-as 64620
 neighbor 172.23.0.14 ebgp-multihop 255
 neighbor 172.23.0.14 update-source Tunnel11
 !
 address-family ipv4
  network 172.25.0.0 mask 255.255.255.240
  neighbor 172.22.0.68 activate
  neighbor 172.22.0.69 activate
  neighbor 172.23.0.14 activate
 exit-address-family
!

!route BGP Route Server IPs to inside default Gateway (otherwise learnt via BGP)
ip route 172.22.0.64 255.255.255.224 172.25.0.33


!route BGP peer IP over the tunnel
ip route 172.23.0.14 255.255.255.255 Tunnel11