!
! Zebra configuration saved from vty
!   2020/02/03 16:39:35
!
hostname bgpd-{{ ansible_hostname }}
password zebra
log stdout
!
router bgp {{ routers.{{ ansible_hostname }}.asn }}
 bgp router-id {{ ansible_eth0.ipv4.address }}
 {% for prefixes in lookup('vars', 'routers.' + ansible_hostname + '.prefixes.values()') %}
 network {{ prefixes }}
 {% endfor %}
!
line vty
!